
.stack-work/dist/e626a42b/build-lock
*.h
.stack-work/dist/e626a42b/build/netchange/autogen/Paths_netchange.hs
*.hi
.stack-work/dist/e626a42b/build/netchange/netchange-tmp/Main.o
.stack-work/dist/e626a42b/build/netchange/netchange-tmp/Paths_netchange.o
.stack-work/dist/e626a42b/build/netchange/netchange.exe
.stack-work/dist/e626a42b/package.conf.inplace/package.cache
.stack-work/dist/e626a42b/package.conf.inplace/package.cache.lock
.stack-work/dist/e626a42b/setup-config
.stack-work/dist/e626a42b/stack-build-caches/84e288da046e1959f463c36e8329dcf25da51af8a9718ecc8e2ad141f7e84eff/exe-netchange
.stack-work/dist/e626a42b/stack-cabal-mod
.stack-work/install/bc1ad683/bin/netchange.exe
.stack-work/install/bc1ad683/doc/netchange-0.1.0.0/LICENSE
.stack-work/install/bc1ad683/installed-packages/netchange-0.1.0.0
.stack-work/install/bc1ad683/pkgdb/package.cache
.stack-work/install/bc1ad683/pkgdb/package.cache.lock
.stack-work/stack.sqlite3
.stack-work/stack.sqlite3.pantry-write-lock
src/Main.hs
